.App {
  text-align: center;
  margin:0;
  padding:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida sans', Arial, sans-serif
}
body {
  background: linear-gradient(to right, #ff8a00, #da1b60);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
